@import "../../../scss/variables.scss";


.rolls-form {
  display: block;
  background-color: #666666;
  color: #ffffff;
  padding: 1em;
  max-width: 800px;

  .form-item input {
    margin-left: 0.5em;
    height: 1.4em;
    font-size: .9em;
  }
}


@media (min-width: $breakpoint-min-small) {
  .rolls-form {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;

    .form-items {
      width: 80%;
      display: flex;
      flex-flow: row wrap;
      align-items: center;
    }

    .form-buttons {
      width: 20%;
      display: flex;
      flex-flow: row wrap;
      justify-content: space-around;
      align-items: center;
    }

    .form-item {
      padding-right: 1em;
    }

  }
}
