<div class="rolls-form">
  <div>
    <label for="numRolls">Number of Rolls:</label><br>
    <input [(ngModel)]="numRolls" name="numRolls">
  </div>
  <div>
    <label for="rollGoal">Goal:</label><br>
    <input [(ngModel)]="rollGoal" name="rollGoal">
  </div>
  <div>
    <button (click)="getRolls()">Update</button>
  </div>
</div>

<br>

<div class="rolls-list">
  <ul>
    <li *ngFor="let roll of rolls" [class.success]="roll.roll >= rollGoal">
      <span>{{roll.message}}: </span>{{roll.roll}}
    </li>
  </ul>
</div>
