html {
  box-sizing: border-box;
}
html *, 
html *:before,
html *:after {
  box-sizing: inherit;
}

.rolls-form {
  display: block;
  background-color: #666666;
  color: #ffffff;
  padding: 1em;
  max-width: 800px;
}
.rolls-form .form-item {
  display: block;
  width: 100%;
  margin-bottom: 1em;
  text-align: left;
}
.rolls-form .form-item .label,
.rolls-form .form-item input {
  display: block;
  width: 90%;
}
.rolls-form .form-item-button {
  /*padding-top: 1em;*/
}
@media (min-width: 500px) {
  .rolls-form {
    display: flex;
  }
  .rolls-form .form-item {
    display: flex;
    margin-left: 1em;
    flex-direction: row;
  }
  .rolls-form .form-item .label {

  }
  .rolls-form .form-item input {
    margin-left: 1em;
    width: auto;
    /*display: flex;*/
  }
}

.rolls-list {
  text-align: left;
}
.rolls-list ul {
  list-style: none
}

.rolls-list {
  color: #fd9898;
}
.rolls-list table {
  border: solid thin #666; 
  border-collapse: collapse;
}
.rolls-list table th {
  border: solid thin #666;   
  padding: 0.25em 0.5em;
  color: #555;
  font-weight: bold;
}
.rolls-list table td {
  border: solid thin #666; 
  padding: 0.25em 0.5em;
}
.rolls-list .roll-id {
  font-size: .8em;
  color: #666;
  font-weight: normal;
}

.rolls-list .success {
  color: green;
  font-weight: bold;
}
