/* You can add global styles to this file, and also import other style files */


@import "~bootstrap-reboot/bootstrap-reboot.scss";


body {
  font-family: Helvetica, Arial, sans-serif;
  color: #666666;
  margin: 2em;
}
h1 {
  color: #369;
  font-size: 250%;
}
h2, h3 {
  color: #444;
  font-weight: lighter;
}
